<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="dataMining_demo.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Data.ConnectionUI" publicKeyToken="B03F5F7F11D50A3A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0"/>
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.AnalysisServices.AdomdClient" publicKeyToken="89845DCD8080CC91" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
    <userSettings>
        <dataMining_demo.Properties.Settings>
            <setting name="app_dataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="dw_initialCatalog" serializeAs="String">
                <value>DW</value>
            </setting>
            <setting name="dw_dataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="as_initialCatalog" serializeAs="String">
                <value>SSAS_DM</value>
            </setting>
            <setting name="as_dataSource" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="as_dataSourceName" serializeAs="String">
                <value>dataSource_DM</value>
            </setting>
            <setting name="app_initialCatalog" serializeAs="String">
                <value>DM</value>
            </setting>
        </dataMining_demo.Properties.Settings>
    </userSettings>
</configuration>
